flows_raspberrypi.json
[
    {
        "id": "90bb2be0.f02628",
        "type": "tab",
        "label": "Node-RED GPIO and sensors",
        "disabled": false,
        "info": "# Node-RED GPIO and sensors\n\n[written in markdown](https://daringfireball.net/projects/markdown/syntax)   \n[*source1*](https://www.youtube.com/watch?v=p9AGf_jFH1g)\n[*source2*]((https://www.youtube.com/watch?v=RDAOxX6vqqs&list=PL68Go3Wa2wAIPmz2KGwEbC7g9E6ZUgchJ))\n\nThis little Node-RED project on a Raspberry Pi 4B shows how to setup a very simple project with the use of GPIO's and a distance sensor and a second little project were a little c program blinks two LED's. The second project wiring setup is used in Node-RED to show that the LED's blink also using this Node-RED project instead of the blink in C-code.\n"
    },
    {
        "id": "9732c1ab.4955c",
        "type": "rpi-srf",
        "z": "90bb2be0.f02628",
        "name": "",
        "topic": "SRF",
        "pulse": "0.5",
        "pins": "16,18",
        "precision": "0",
        "x": 160,
        "y": 160,
        "wires": [
            [
                "85c400b0.373c1"
            ]
        ]
    },
    {
        "id": "85c400b0.373c1",
        "type": "debug",
        "z": "90bb2be0.f02628",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 350,
        "y": 160,
        "wires": []
    },
    {
        "id": "8bee6da0.f6e3d",
        "type": "rpi-gpio out",
        "z": "90bb2be0.f02628",
        "name": "GreenLED",
        "pin": "37",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 350,
        "y": 240,
        "wires": []
    },
    {
        "id": "758a000f.2a8fa",
        "type": "inject",
        "z": "90bb2be0.f02628",
        "name": "On",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 170,
        "y": 240,
        "wires": [
            [
                "8bee6da0.f6e3d"
            ]
        ]
    },
    {
        "id": "340f716.ac2348e",
        "type": "inject",
        "z": "90bb2be0.f02628",
        "name": "Off",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 170,
        "y": 280,
        "wires": [
            [
                "8bee6da0.f6e3d"
            ]
        ]
    },
    {
        "id": "263b1a64.5dddb6",
        "type": "rpi-gpio out",
        "z": "90bb2be0.f02628",
        "name": "RedLED",
        "pin": "35",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 340,
        "y": 360,
        "wires": []
    },
    {
        "id": "8156b2d6.d655d",
        "type": "inject",
        "z": "90bb2be0.f02628",
        "name": "On",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 170,
        "y": 360,
        "wires": [
            [
                "263b1a64.5dddb6"
            ]
        ]
    },
    {
        "id": "ec627a1f.7e2ae8",
        "type": "inject",
        "z": "90bb2be0.f02628",
        "name": "Off",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 170,
        "y": 400,
        "wires": [
            [
                "263b1a64.5dddb6"
            ]
        ]
    }
]